.collectionsContainer {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.collectionsContent {
    margin: 1rem;

    .pageHeader > * {
        font-size: 2rem;
    }
}