//*******************************************************
//*******************************************************
//*						Color Palette
//*******************************************************
//*******************************************************

@navBackgroundColor: #002233;
@containerBackgroundColor: #FFFFFF;
@textColorDefault: #FFFFFF;
@textColorDarkDefault: #000000;
@accentColor: #6AB7C9;
@accentColorHover: #2197B3;

@warningColor: #D91900;