//*******************************************************
//*******************************************************
//*						Globals
//*******************************************************
//*******************************************************
@import 'colorPalette.less';


html {
	font-size: 16px !important;
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: @containerBackgroundColor;
	overflow: hidden;
}

.pageContainer {
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
}

.dialogContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


//*******************************************************
//                  TYPOGRAPHY
//*******************************************************
h1, h2, h3,
h4, h5, h6,
p, span {
    color: @textColorDefault;
    margin: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}


//*******************************************************
//                  SCROLLBAR
//*******************************************************
@scrollbarWidth: 3px;
@scrollbarArea: 4px;
@scrollbarTotalWidth: @scrollbarWidth + (2 * @scrollbarArea);


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: fade(#FFFFFF, 30%);
    border: @scrollbarArea solid transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-button {
    display: none;
}