//*******************************************************
//*******************************************************
//*						  TILE
//*******************************************************
//*******************************************************
@import '../colorPalette.less';

@buttonHeight: 2rem;
@iconButtonHeight: 2rem;
@iconButtonWidth: 2rem;
@closeButtonDimensions: 1rem;

.button {
    border: none;
    margin: 0 1rem 0 0;
    background: transparent;
    border-radius: 100rem;
    transition: all 0.15s ease-in-out;

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 0.5rem 1.5rem;
        border: 1px solid @textColorDefault;
        border-radius: 100rem;
        transition: all 0.15s ease-in-out;

        > * {
            font-size: 0.9rem;
            transition: all 0.15s ease-in-out;
            text-decoration: none;
            color: @textColorDefault;
            text-transform: uppercase;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #21CC4E;
    }
}

.button.dark {
    .inner {
        border-color: @textColorDarkDefault;
        > * {
            color: @textColorDarkDefault;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #21CC4E;

        .inner {
            border-color: #21CC4E;

            > * {
                color: #FFFFFF;
            }
        }
    }
}

.button.borderless {
    background: transparent;
    border-radius: 0;
    margin-right: 0.5rem;

    .inner {
        border-color: transparent;
        padding: 0.25rem 0.5rem;
    }
}

.button.iconButton {
    .inner {
        border: none;
        padding: 0.5rem;
    }

    &:hover {
        background-color: transparent;

        .inner > * {
            color: #21CC4E;
        }
    }
}


.button.closeButton {
    position: relative;
    top: 0.5rem;
    min-width: @closeButtonDimensions;
    max-width: @closeButtonDimensions;
    width: @closeButtonDimensions;
    height: @closeButtonDimensions;
    min-height: @closeButtonDimensions;
    max-height: @closeButtonDimensions;
    left: calc(100% - @closeButtonDimensions - 0.5rem);
    padding: 0;

    .inner {
        border: none;
    }
}