//*******************************************************
//*******************************************************
//*						Notification
//*******************************************************
//*******************************************************
@import '../colorPalette.less';



.notification {
    position: absolute;
    top: 5rem;
    right: 0;
    background: @containerBackgroundColor;
    z-index: 100;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1rem;
    box-shadow: -2px 0px 23px -6px rgba(0,0,0,0.75);
    width: 20rem;
    max-height: 7.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.2s linear;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid @warningColor;
    max-width: 80%;

    .notificationIcon {
        margin-right: 1rem;
        font-size: 1rem;
        > .glyphicon {
            color: @warningColor;
        }
    }

    .notificationText {
        font-size: 0.889rem;
        flex: 1 1 auto;
        color: @textColorDefault;
        padding-right: 2rem;
        overflow: auto;
        overflow: auto;
        white-space: nowrap;
    }

    .notificationClose {
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}